<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mercado Liebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="main-container">
            <div class="top-bar">
                <img src="/img/logo-mercado-liebre.svg" width="360" alt="logo" class="logo">
                <div class="input">
                    <input class="barra-busqueda" type="text" name="buscador" id="buscador"
                        placeholder="Buscar productos, marcas y más"><i class="fa fa-search"></i>
                </div>
            </div>
            <div class="copy-header">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <section>
        <img class="banner" src="/img/img-home-banner.jpg" width="260" alt="banner de ofertas">
    </section>
    <main>
        <h3>Basado en tu última visita</h3>
        <section class="productos">
            <article>
                <div>
                    <img src="/img/img-cafetera-moulinex.jpg" width="360" alt="logo">
                </div>
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="total">
                        <p class="precios">$6.770</p>
                        <p class="desc">40% OFF</p>
                    </div>
                    <p class="descriptor">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <div class="contenedor">
                    <img src="/img/img-macbook-pro-2019.jpg" width="360" alt="logo">
                </div>
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="total">
                        <p class="precios">$230.000</p>
                        <p class="desc">20% off</p>
                    </div>
                    <p class="descriptor">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="/img/img-samsung-galaxy-s10.jpg" width="360" alt="logo">
                </div>
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="total">
                        <p class="precios">$70.500</p>
                        <p class="desc">10% off</p>
                    </div>
                    <p class="descriptor">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="/img/img-tv-samsung-smart.jpg" width="360" alt="logo">
                </div>
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="total">
                        <p class="precios">$23.200</p>
                        <p class="desc">5% off</p>
                    </div>
                    <p class="descriptor">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <h3>Ofertas</h3>
        <section class="productos">
            <article>
                <div>
                    <img src="/img/img-cafetera-moulinex.jpg" width="360" alt="logo">
                </div>
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="total">
                        <p class="precios">$6.770</p>
                        <p class="desc">40% OFF</p>
                    </div>
                    <p class="descriptor">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="/img/img-macbook-pro-2019.jpg" width="360" alt="logo">
                </div>
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="total">
                        <p class="precios">$230.000</p>
                        <p class="desc">20% off</p>
                    </div>
                    <p class="descriptor">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="/img/img-samsung-galaxy-s10.jpg" width="360" alt="logo">
                </div>
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="total">
                        <p class="precios">$70.500</p>
                        <p class="desc">10% off</p>
                    </div>
                    <p class="descriptor">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="/img/img-tv-samsung-smart.jpg" width="360" alt="logo">
                </div>
                <div class="contenedor">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="total">
                        <p class="precios">$23.200</p>
                        <p class="desc">5% off</p>
                    </div>
                    <p class="descriptor">SmartTv Samsung 43"</p>

                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="iconos">
            <div class="credito">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="detalles">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos
                    de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="regalo">
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p class="detalles">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="seguridad">
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p class="detalles">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                    estás siempre protegid@.</p>
            </div>
        </div>
        <div>
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>